<div class="modal-header">
	<h4 class="modal-title">{{'deleteModal.title'|translate}}</h4>
	<app-button [class]="'btn-close'" (click)="activeModal.dismiss('Cross click')"></app-button>
</div>
<div class="modal-body">
	<p class="card-text" translate [translateParams]="{ id }">deleteModal.text</p>
</div>
<div class="modal-footer">
	<app-button [text]="'close'|translate" [class]="'btn btn-outline-dark'" (click)="activeModal.dismiss('Close click')"></app-button>
	<app-button [text]="'deleteModal.submit'|translate" [class]="'btn btn-success'" (click)="delete()"></app-button>
</div>

