 <app-search-bar (newSearchEvent)="getSearchValue($event)"></app-search-bar>
  <ng-container *ngIf="courses.length > 0; else noCourses">
    <app-course-card *ngFor="let course of courses |orderBy ; index as i; trackBy: courseTrackBy" [course]="course" (newDeleteEvent)="deleteCourse($event)">
    </app-course-card>
    <app-loader (newLoadEvent)="load()"></app-loader>
  </ng-container>
  <ng-template #noCourses>
    <p class="text-center font-monospace fs-4 card m-5 shadow p-5 mb-5 rounded">
      No data! <br />Feel free to add new course
    </p>
  </ng-template>