<div class="form-group">
    <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <label class="mb-2 fw-bolder">{{'course.duration'|translate}}</label>
            <span *ngIf="hasError" class="error text-danger">{{'course.required'|translate}}</span>
          </div>
          <input class="form-control" type="number" placeholder="{{'course.durationInput'|translate}}" 
          [value]="value" (input)="onInput($event)" [class.is-invalid]="valid"/>
        </div>
    </div>      
</div>
