<form>
  <mat-form-field class="chip-list">
    <mat-label>Add authors</mat-label>
    <mat-chip-grid #chipGrid aria-label="authors">
      <mat-chip-row *ngFor="let author of chipSelectedAuthors" (removed)="removeAuthor(author)">
        {{author.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + author.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="Enter author name..." #authorInput [formControl]="authorCtrl"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addAuthor($event)"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let authorName of filteredAuthors$ | async" [value]="authorName">
        {{authorName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>