.navbar {
  justify-content: space-between;
  color: white;
  padding: 20px 60px;
}

.navbar span {
    padding-left:20px;
}

.logout-btn {
  border: none;
  padding: 0;
}

.user-login{
  padding-top:0.4rem;
}