<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <app-logo></app-logo>
    </a>
    <div class="d-flex" *ngIf="authenticated">
      <span class="user-login"> <i class="fa-solid fa-user"></i> {{user?.name?.first}} </span>
      <span>
        <app-button
          [text]="'Log out'"
          [fontawesome]="'fa-sharp fa-solid fa-right-from-bracket fa-rotate-180'"
          [class]="'btn btn-dark logout-btn'"
          (click)="logout()"
        ></app-button>
      </span>
    </div>
  </div>
</nav>
